body{
    text-align: center;
    background-color:#126E82;
}
h1{
    letter-spacing: 3px;
    color:#C6FFC1;
    font-size: 4rem;
    font-weight: 900; 
}
p{
    color:#D8E3E7;
    font-size: 1.5rem;
    margin: 30px;
}
input{
    background-color: #F8F5F1;
    height:30px;
    border-radius:15px;
    margin-bottom: 30px;
}
button{
    width: 140px;
    height: 35px;
    border-radius:15px;
    background-color: #C6FFC1; 
    cursor: pointer;
}